@font-face {
  font-family: "pkmnhollow";
  src: local("neoneon"), url(./Fonts/PokemonHollow.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pkmnsolid";
  src: local("neoneon"), url(./Fonts/PokemonSolid.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  font-family: "VT323", monospace;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(25, 25, 25);
  color: white;
  overflow-x: hidden;
  padding-bottom: 300px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #d0272780;
}

::-webkit-scrollbar-thumb:hover {
  background: #d02727;
}

.navbar-container {
  width: 100vw;
  height: 10vh;
  background-color: #d02727;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-row {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container {
  width: 100%;
}

.logo {
  height: 100%;
}

.navbar-links {
  min-width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30%;
  gap: 30px;
}

button {
  cursor: pointer;
  outline: none;
}

img {
  pointer-events: none;
}

.nav-btn {
  background-color: transparent;
  border: none;
  font-size: 22px;
  color: #ffcb05;
  margin: 0;
  padding: 0;

  span {
    display: none;
  }
}

.nav-btn {
  text-decoration: none;
  display: flex;
  font-display: row;
}

.nav-btn:hover {
  color: white;

  span {
    display: inline;
  }
}

.center-container {
  height: 80vh;
  width: 70vw;
  margin: 0 15vw;
  display: flex;
  align-items: center;
  flex-direction: column;

  .professors {
    height: 90%;
    width: 90%;
    margin: 5vh 0;
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: end;

    .oak {
      height: 100%;
    }

    .juniper {
      height: 97%;
    }

    .mom {
      height: 104%;
    }

    .kukui {
      height: 99%;
    }

    .joy {
      height: 100%;
      transform: scaleX(-1);
    }

    .dawn {
      height: 95%;
    }

    .brock {
      height: 100%;
    }

    .pkmn-holder {
      height: 100%;
      .wtp-pokemon {
        height: 100%;
        filter: brightness(0) invert(1);
      }
    }
  }

  .home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .home-text-container {
      width: 100%;

      h1 {
        font-size: 30px;
        font-weight: normal;
      }

      p {
        font-size: 22px;
      }

      .dialogue {
        height: 10vh;
      }

      .both {
        color: #ffcb05;
      }

      .juniper {
        color: #65a67e;
      }

      .oak {
        color: #c7bee9;
      }

      .mom {
        color: #3e76ad;
      }

      .kukui {
        color: #a7a6a9;
      }

      .joy {
        color: #ff9999;
      }

      .dawn {
        color: #d998a2;
      }

      .brock {
        color: #e0985e;
      }

      .name-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        input {
          width: calc(100% - 15px);
          font-size: 22px;
          padding: 7px 7px;
          outline: none;
        }
      }
    }
  }

  .bottom {
    margin: 100px 0;

    .home-container {
      .home-text-container {
        h1 {
          font-size: 30;
        }

        p {
          font-size: 25;
        }
      }
    }
  }

  .professors.wtp-container {
    width: 70%;
  }
}

.center-container-2 {
  width: 60vw;
  margin: 100px 20vw 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .home-text-container {
    width: 100%;

    h1 {
      font-size: 30px;
      font-weight: normal;
    }

    p {
      font-size: 22px;
    }

    i {
      background-color: #d02727;
      font-size: 30px;
      color: rgb(25, 25, 25);
      transition: color 0.5s ease, background-color 0.5s ease;
      cursor: pointer;
      margin: 50px 20px 0;
      padding: 10px;
      border-radius: 25px;
    }

    i:hover {
      color: #ffcb05;
      background-color: #0b4d8a;
    }
  }

  input,
  textarea {
    width: 80%;
    margin: 10px;
    background-color: #ffcb05;
    color: #0b4d8a;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #0b4d8a;
    box-shadow: 0 0 10px #0b4d8a;
    outline: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
  }

  input::selection,
  textarea::selection {
    background-color: #d0272780;
  }

  input::placeholder,
  textarea::placeholder {
    color: #0b4d8ab3;
  }

  .home-btn{
    margin: 10px;
    width: calc(80% + 20px);
  }

  .status {
    font-size: 20px;
    text-align: center;
    font-style: italic;
  }

  .status.success {
    color: yellowgreen;
  }

  .status.error {
    color: red;
  }
}

.home-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .btn-container {
    width: 100%;
    margin-top: 20px;
  }
}

.grid-btn-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

.center-grid {
  justify-content: center;
}

.capitalize {
  text-transform: capitalize;
}

.btn-container {
  width: 100%;
}

.home-btn,
.mode-btn {
  background-color: #d02727;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
  border: none;
  padding: 10px 20px;
  font-size: 22px;
  width: 100%;
}

.trivia-option {
  text-transform: capitalize;
  background-color: #ffcb05;
  color: black;
  transition: color 0.3s ease, background-color 0.3s ease;
  border: none;
  padding: 10px 20px;
  font-size: 22px;
  width: 100%;
}

.home-btn:hover,
.active-btn,
.mythical-egg.active-btn,
.legendary-egg.active-btn {
  background-color: #ffcb05;
  color: #0b4d8a;
  border: 5px solid #0b4d8a;
  box-shadow: inset 0 0 7px #0b4d8a;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.mode-btn:hover,
.trivia-option:hover {
  box-shadow: 1px 1px 2px white;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.disabled-mode.active-btn {
  background-color: gray;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
  border: none;
  box-shadow: none;
}

.disabled-mode:hover {
  box-shadow: none;
}

.home-btn:disabled {
  background-color: #d02727;
  color: white;
  border: none;
  box-shadow: none;
  cursor: not-allowed;
}

.next-sm {
  width: 50%;
}

.next-sm:disabled {
  background-color: gray;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
  border: none;
  box-shadow: none;
  cursor: not-allowed;
}

.next:disabled {
  background-color: gray;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
  border: none;
  box-shadow: none;
  cursor: not-allowed;
}

.pokedex-container {
  width: 100%;
  margin: 2% 0 7%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 1%;

    .option-btn {
      font-size: 20px;
      background-color: transparent;
      color: white;
      transition: color 0.3s ease;
      border: none;
    }

    .active {
      color: #d02727;
      text-decoration: underline;
      transition: color 0.3s ease;
    }
  }

  .own-btn {
    .active {
      color: #ffcb05;
      text-decoration: underline;
      transition: color 0.3s ease;
    }
  }

  .card-container {
    width: 90%;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
    gap: 50px;
    margin-top: 2%;
  }
}

.card {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d02727;
  box-shadow: 0 0 5px white;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

  .id {
    width: 90%;
    margin: 2% 0 3%;
    font-size: 20px;
    color: #ffcb05;
    text-shadow: 2px 2px 2px black;
    text-align: right;
  }

  .container {
    width: 90%;
    height: 45%;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;

    .pokemon-img {
      width: 95%;
      height: 93%;
      background: white url(./Images/pokeball.png) no-repeat center;
      background-size: contain;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        position: absolute;
        align-self: center;
        height: 90%;
        z-index: 2;
      }

      img:nth-child(2) {
        z-index: 1;
        filter: brightness(0) blur(3px);
        margin: 12px 0 0 12px;
      }
    }
  }

  .details-container {
    text-transform: capitalize;
    width: 90%;
    margin-top: 5%;

    .data {
      width: 100%;
      display: flex;
      margin-bottom: 3%;
      gap: 3%;

      .name {
        font-weight: bold;
        font-size: 18px;
        text-shadow: 2px 2px 2px black;
      }

      .type {
        padding: 1% 1%;
        box-shadow: 2px 2px 2px 0 black;
      }

      .type-unknown {
        text-shadow: 2px 2px 2px black;
      }
    }

    .stats-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2% 15%;

      .stats {
        display: flex;
        text-transform: capitalize;
        margin: 3% 5% 0 0;

        .title {
          width: 50%;
          color: #ffcb05;
          text-shadow: 2px 2px 2px black;
          font-weight: bold;
        }

        .value {
          width: 50%;
          text-align: right;
          text-shadow: 2px 2px 2px black;
          font-weight: bold;
        }
      }
    }
  }
}

.legendary,
.legendary-egg {
  background-color: #65a67e;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.mythical,
.mythical-egg {
  background-color: #800080;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.card-unknown {
  background-color: #0b4d8a;

  .id {
    color: gray;
    text-shadow: 2px 2px 2px black;
  }

  .pokemon-img {
    filter: grayscale(100%);
  }

  .details-container {
    .stats-container {
      .stats {
        .title {
          color: gray;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .center-container {
    width: 80vw;
    margin: 0 10vw;

    .professors {
      align-items: start;
      .oak {
        height: calc(100% * 0.75);
      }

      .juniper {
        height: calc(97% * 0.75);
      }

      .mom {
        height: calc(104% * 0.75);
      }

      .kukui {
        height: calc(99% * 0.75);
      }

      .joy {
        height: calc(100% * 0.75);
      }

      .dawn {
        height: calc(95% * 0.75);
      }

      .brock {
        height: calc(100% * 0.75);
      }
    }
  }

  .center-container-2 {
    margin: 250px 20vw 0;
  }
}

@media screen and (max-width: 800px) {
  .center-container {
    .professors {
      .oak {
        height: calc(100% * 0.5);
      }

      .juniper {
        height: calc(97% * 0.5);
      }

      .mom {
        height: calc(104% * 0.5);
      }

      .kukui {
        height: calc(99% * 0.5);
      }

      .joy {
        height: calc(100% * 0.5);
      }

      .dawn {
        height: calc(95% * 0.5);
      }

      .brock {
        height: calc(100% * 0.5);
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .navbar-container {
    height: calc(10vh + 50px);
  }

  .navbar-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    width: 30%;
  }

  .logo {
    width: 100%;
  }

  .navbar-links {
    width: 100%;
    justify-content: center;
  }

  .center-container {
    .professors {
      height: 100%;

      .home-container {
        width: 60%;
      }
    }

    .professors.wtp-container {
      width: 100%;
    }
  }

  .center-container-2 {
    margin: 400px 20vw 0;
  }

  .grid-btn-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .center-container {
    width: 85vw;
    margin: 0 7.5vw;

    .nav-btn:hover {
      color: white;

      span {
        display: inline;
      }
    }

    .professors {
      .oak {
        height: calc(100% * 0.4);
      }

      .juniper {
        height: calc(97% * 0.4);
      }

      .mom {
        height: calc(104% * 0.4);
      }

      .kukui {
        height: calc(99% * 0.4);
      }

      .joy {
        height: calc(100% * 0.4);
      }

      .dawn {
        height: calc(95% * 0.4);
      }

      .brock {
        height: calc(100% * 0.4);
      }

      .home-container {
        width: 40%;

        .home-text-container {
          h1 {
            font-size: 20px;
          }

          p {
            font-size: 18px;
          }

          .dialogue {
            height: 5vh;
          }

          .name-input-container {
            input {
              font-size: 18px;
              padding: 5px 5px;
            }
          }
        }
      }

      .pkmn-holder {
        height: 50%;
        .wtp-pokemon {
          height: 100%;
          filter: brightness(0) invert(1);
        }
      }
    }

    .professors.wtp-container {
      width: 100%;
    }
  }

  .home-btn,
  .mode-btn {
    font-size: 18px;
  }

  .center-container-2 {
    .home-text-container {
      h1 {
        font-size: 20px;
        font-weight: normal;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .logo-container {
    width: 50%;
  }

  .center-container {
    width: 90vw;
    .professors {
      gap: 10px;

      .oak {
        height: calc(100% * 0.3);
      }

      .juniper {
        height: calc(97% * 0.3);
      }

      .mom {
        height: calc(104% * 0.3);
      }

      .kukui {
        height: calc(99% * 0.3);
      }

      .joy {
        height: calc(100% * 0.3);
      }

      .dawn {
        height: calc(95% * 0.3);
      }

      .brock {
        height: calc(100% * 0.3);
      }

      .home-container {
        width: 60%;
      }
    }

    .professors.wtp-container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 370px) {
  .navbar-container {
    height: calc(10vh + 75px);
  }

  .navbar-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .nav-btn:hover {
    span {
      display: none;
    }
  }

  .pokedex-container {
    .card-container {
      width: 80%;
    }
  }
}
