MONGODB_URI = your_mongodb_uri
ALLOWED_URI = your_frontend_url
AUTH0_DOMAIN = https://your_auth0_domain
AUTH0_AUDIENCE = your_auth0_audience
AUTH0_TOKEN_SIGN_ALGO = your_auth0_token_sign_algo
PORT = 3000